ul.ui-autocomplete {
	list-style: none;
}

input {
	width: 100%;
}

span {
	visibility: hidden;
	padding-left: 20px
}

#viewport {
	display: block;
	margin: 0 auto;
}

.center {
	text-align: center;
}

#graph {
	padding: 0;
}

label {
	padding-right: 20px;
}

.hovered{
    cursor: pointer;
}